@import "./widgets.css";

:root {
	--bg-grad: linear-gradient(to top, #6475de, #83a6ea);
	--on-grad: #fafaff;
	--bg-solid: #ece9d8;
	--on-solid: #222;
}

body,
html,
#app {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;

	/* font-size: 0.95rem; */

	font-family: "Tahoma", "Arial", "Helvetica", system-ui, sans-serif;
	-webkit-font-smoothing: none;
	font-smooth: never;
}

body {
	overflow: hidden;
	background: var(--bg-solid);
	color: var(--on-solid);
}

* {
	box-sizing: border-box;
}

button,
input[type="button"],
input[type="submit"] {
	user-select: none;
}

input[type="submit"],
button {
	cursor: pointer;
}

#webamp {
	top: auto !important;
	left: calc(1.5rem + 20px) !important;
	bottom: calc(10px + 1.5rem) !important;
	width: 275px !important;
	height: 348px !important;
}

#webamp > div > div,
.window > div {
	width: 275px !important;
	height: 348px !important;
}

@media (orientation: portrait) {
	#app,
	#app > div {
		flex-direction: column !important;
	}

	header {
		height: 24em !important;
		width: 100vw !important;
	}
}
