@import "./styles.css";
@import "./widgets.css";

#app {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	justify-content: flex-start;
	align-items: center;
}

#fetchers {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 0 1rem;

	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
}

.input-row {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}

/* Search results */
#searchresults {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

@media (orientation: portrait) {
    #app,#app>div {
        flex-direction: column!important;
    }

    header {
        height: 24em!important;
        width: 100vw!important;
    }
}
