@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--background: #141418;
	--text: #ffffff;
	--secondary-text: #9f9f9f;

	--primary: #6f07e6;
	--secondary: #282828;

	--dividor: #646464;
}

body,
html,
#app {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;

	background-color: var(--background);
	color: var(--text);

	font-family: "Inter", sans-serif;
}

#app {
	overflow-y: scroll;
}

* {
	box-sizing: border-box;

	font: inherit;
}
