/* Default widget styles */
@import "./styles.css";

h1 {
	font-size: 5rem;
	font-weight: 600;
	letter-spacing: -0.3rem;
	margin-bottom: 0;
}

input[type="text"] {
	background-color: var(--secondary);
	color: var(--text);

	border: 1px solid var(--dividor);
	outline-color: var(--text);

	padding: 0.5rem;
	border-radius: 0.5rem;
}

input[type="submit"],
button {
	cursor: pointer;

	background-color: var(--secondary);
	color: var(--text);

	border: 1px solid var(--dividor);
	outline-color: var(--text);

	padding: 0.5rem;
	border-radius: 0.5rem;
}
