---
import Player from "../components/Player.astro";
import Search from "../components/Search.astro";
import Release from "../components/Release.astro";
import Artist from "../components/Artist.astro";
---

<main>
  <div class="main">
    <Player />
    <Release />
    <Artist />
    <Search />
  </div>
</main>
