<input id="recordingId" />
<button id="set">Fetch</button>

<!--
<div class="music-player">
	<div class="album">
		<img id="albumImg" class="img-alb" />
		<p class="heading">
			<div class="album-info">
				<h5 id="name" class="alb-he5"></h5>
				<h6 id="artist" class="alb-he6"></h6>
			</div>
		</p>
	</div>
	<div class="player">
		<div class="player-controls">
			<img
				src="imgs/pause.png"
				class="player-control-icon"
				id="play-btn"
				style="opacity: 1; height: 2.5rem;"
			/>
			<br />
			<div class="playback-bar">
				<input type="range" min="0" max="999" class="progress-bar" step="1" />
			</div>
		</div>
	</div>
</div>
 -->

<script>

	(document.getElementById("recordingId") as HTMLInputElement).value =
		"AJR - Thirsty";

	document.getElementById("set").addEventListener("click", async () => {
		let input = document.querySelector("input").value;
		// TODO: We need to fetch the metadata from MusicBrainz

		try {
			fetch(
				`/api/source?query=${encodeURIComponent(input)}`
			).then((res) => res.blob()).then(blob => {
				const url = URL.createObjectURL(blob);
				const player = new Audio(url);
				player.controls = true;
				player.play();
				document.getElementById("set").after(player)
			})
		} catch (err) {
			console.error(err);
			return err;
		}
	});
</script>